.card {
    width: 320px;
    border: none;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    height: 100%;
    /* margin-right: 2%; */
    padding: 0;
    border-radius: 15px !important;
    text-decoration: none;
    color: black;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}